body {
    background-color: #fbc9b3;
    font-family: helvetica;
}
label, span {
    display: inline-block;
    float: left;
    clear: left;
    width: 25%;
    text-align: right;
}
input {
    display: inline-block;
    float: left;
}
select {
  display: inline-block;
  float: left;
}

input[type=submit] {
    display: inline-block;
    float: left;
}